.history {
  height: 100%;
  padding: 15px;
  overflow: hidden;

  &__list-wrapper {
    overflow-y: auto;
    height: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__list {
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
